// NOTE: still deciding if want to do dark mode
@use "./_styles/header";
@use "./_styles/info";
@use "./_styles/textarea-containers";
@use "./_styles/footer";
@use "./_styles/about";

* {
  font-family: "Exo", sans-serif;
  margin: 0;
  background-color: whitesmoke;
  color: rgb(37, 37, 90);
}
