.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 50px;
}
.header__subheader {
  margin-top: 20px;
}

.info {
  text-align: center;
  margin-bottom: 30px;
  opacity: 0.5;
  font-style: italic;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container__text {
  text-align: center;
}
.container__title {
  margin-bottom: 10px;
}
.container__img {
  width: 50px;
  height: 50px;
  margin: 0 50px;
}
.container__input {
  overflow-y: scroll;
  resize: none;
  font-size: 15px;
}

.footer__content {
  margin-top: 120px;
  width: 100vw;
  height: 80px;
  background: rgb(37, 37, 90);
}
.footer__content--info1 {
  background: rgb(37, 37, 90);
  color: whitesmoke;
}

.about__morseCode {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.about__morseCode--img {
  width: 300px;
  height: 200px;
  margin-right: 60px;
}
.about__morseCode--text {
  width: 400px;
  margin-left: 60px;
}

* {
  font-family: "Exo", sans-serif;
  margin: 0;
  background-color: whitesmoke;
  color: rgb(37, 37, 90);
}
